<h1> <%=@team.name %> </h1>

<h1>Team Motto: <%= @team.motto %> </h1>

  <h1>Hero Name: <%= @hero1.name %></h1>
  <h4>Hero Power: <%= @hero1.power %></h4>
  <h4>Hero Biography: <%= @hero1.bio %></h4>
<br>

  <h1>Hero Name: <%= @hero2.name %></h1>
  <h4>Hero Power: <%= @hero2.power %></h4>
  <h4>Hero Biography: <%= @hero2.bio %></h4>
<br>

  <h1>Hero Name: <%= @hero3.name %></h1>
  <h4>Hero Power: <%= @hero3.power %></h4>
  <h4>Hero Biography: <%= @hero3.bio %></h4>
<br>
 
